{% extends 'base.html.twig' %}

{% block title %} Listado de equipos {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/team.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
{% endblock %}

{% block header %}
    {% include 'navbar.html.twig'%}
{% endblock %}

{% block body %}
    <div class="cabecera-crud">
        <div class="contenedor-izquierda">
            <h2 class="h2-titulo">
                Equipos inscritos
            </h2>
        </div>
        <div class="contenedor-derecha boton-agregar">
            <a href="{{path('new_team')}}" class="a-botones texto-centro"><i class="ti ti-plus icono-agregar"></i> Añadir equipo</a>
        </div>
    </div>

    <div class="tabla">
        <table>
            <thead class="tabla-thead">
                <tr>
                    <th class="texto-centro">Nombre</th>
                    <th class="texto-centro">Lugar</th>
                    <th class="texto-centro">Deporte</th>
                    <th class="texto-centro" colspan="2"></th>
                </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <td>{{ team.name }}</td>
                    <td>{{ team.school }}</td>
                    <td>{{ team.sport.name }}</td>
                    <td class="texto-centro"><a href="{{path('main_app')}}" class="a-botones texto-centro"><i class="ti ti-trash icono-eliminar"></i></a></td>
                    <td class="texto-centro"><a href="{{path('main_app')}}" class="a-botones texto-centro"><i class="ti ti-edit icono-editar"></i></a></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No hay equipos</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


