{% extends 'base.html.twig' %}

{% block title %} Listado de equipos {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/card.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
{% endblock %}

{% block header %}
    {% include 'navbar.html.twig'%}
{% endblock %}

{% block body %}
    <div class="cabecera-crud">
        <div class="contenedor-izquierda">
            <h2 class="h2-titulo">
                Equipos
            </h2>
        </div>
        <div class="contenedor-derecha boton-agregar">
            <a href="{{path('new_team')}}" class="a-botones texto-centro"><i class="ti ti-plus icono-agregar"></i> Añadir</a>
        </div>
    </div>
        {% for team in teams %}
            <div class="registro">
                <div class="registro-info">
                    <p>{{ team.name }}</p>
                </div>
                <div class="acciones">
                    <div class="contenedor-eliminar">
                        <a href="{{path('main_app')}}" class="a-botones texto-centro"><i class="ti ti-trash icono-eliminar"></i></a>
                    </div>
                    <div class="contenedor-editar">
                        <a href="{{path('main_app')}}" class="a-botones texto-centro"><i class="ti ti-edit icono-editar"></i></a>
                    </div>
                    <div class="contenedor-desplegar">
                        <i class="ti ti-chevron-down icono-desplegar"></i>
                    </div>
                </div>
            </div>
        {% else %}
            <p>
                No hay equipos
            </p>
        {% endfor %}
{% endblock %}


