{% extends 'base.html.twig' %}

{% block title %}Equipos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cardmain.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ asset('javascript/desplegable.js') }}"></script>
    <script src="{{ asset('javascript/search.js') }}"></script>
    {% for message in app.session.flashBag.get('success') %}
        <script src="{{ asset('javascript/created.js') }}"></script>
    {% endfor %}
    {% for message in app.session.flashBag.get('updated') %}
        <script src="{{ asset('javascript/updated.js') }}"></script>
    {% endfor %}
{% endblock %}

{% block header %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="cabecera-crud">
        <div>
            <h2 class="h2-titulo">
                Equipos
            </h2>
        </div>
        <div class="contenedor-derecha">
            <div class="contenedor-search {% if not is_granted('ROLE_ADMIN') and not is_granted('ROLE_DEVELOPER') %}contenedor-usuario{% endif %}">
                <form id="search-form" method="get" action="{{ path('teams') }}">
                    <input type="text" id="search" name="search" placeholder="Buscar equipo" autofocus="autofocus" value="{{ app.request.get('search') }}" class="input-buscar">
                    <button type="submit" id="btn-search" class="boton-buscar">
                        <i class="ti ti-search icono-buscar"></i>
                    </button>
                </form>
            </div>
            {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_ADMIN') %}
                <div class="contenedor-agregar">
                    <a href="{{ path('new_team') }}" class="boton-agregar"><i class="ti ti-circle-plus icono-agregar"></i> Crear nuevo equipo</a>
                </div>
            {% endif %}
        </div>
    </div>
    <div id="listar">
        {% include 'team/listAjax.html.twig' %}
    </div>
    <div class="contenedor-footer">
        <div class="volver">
            <a href="{{ path('main_app') }}" class="boton-volver"><i class="ti ti-arrow-left icono-agregar"></i> Volver</a>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}