{% for person in people %}
    <div class="contenedor-principal">
        <div class="contenedor-expandir">
            <div class="expandible">
                <span class="titulo"><h6>{{ person.firstName }} {{ person.lastName }}</h6></span>
                <div class="iconos">
                    {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('person_edit', {'id': person.id}) }}" class="boton"><i class="ti ti-edit a-botones"></i></a>
                        <a href="{{ path('delete_person', {'id': person.id}) }}" class="boton btn-delete" data-id="{{ person.id }}" data-name="{{ person.firstName }}"><i class="ti ti-trash a-botones"></i></a>
                    {% endif %}
                    <span class="desplegar"><i class="ti ti-chevron-down a-botones"></i></span>
                </div>
            </div>
            <div class="contenedor-desplegable">
                <div class="contenedor-informacion-desplegable">
                    <div class="informacion">
                        <h3>Nombre</h3>
                        <p>{{ person.firstName }}</p>
                    </div>
                    <div class="informacion">
                        <h3>Apellidos</h3>
                        <p>{{ person.lastName }}</p>
                    </div>
                    {% if person.isPlayer == 1 %}
                        <div class="informacion">
                            <h3>Dorsal</h3>
                            <p>{{ person.number }}</p>
                        </div>
                    {% endif %}
                    <div class="informacion">
                        <h3>Equipo</h3>
                        <p><a href="{{ path('team_players', {'id': person.teamId}) }}"> Ver Equipo</a></p>
                    </div>
                    {% if person.isPlayer == 1 and person.isTeacher == 0 %}
                        <div class="informacion">
                            <h3>Rol</h3>
                            <p>Jugador</p>
                        </div>
                    {% else %}
                        <div class="informacion">
                            <h3>Rol</h3>
                            <p>Entrenador</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endfor %}