{% extends 'base.html.twig' %}

{% block title %}Jugadores de {{ team.name }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cardmain.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('javascript/desplegable.js') }}"></script>
{% endblock %}

{% block header %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="cabecera-crud">
        <div>
            <h2 class="h2-titulo">
                Equipo {{ team.name }}
            </h2>
        </div>
        <div class="contenedor-derecha">
            <div class="contenedor-jugador-deporte">
                <h2>{{ team.sport.name }}</h2>
            </div>
        </div>
    </div>
    <div id="listar">
        {% for person in people %}
    <div class="contenedor-principal">
        <div class="contenedor-expandir">
            <div class="expandible">
                {% if person.isPlayer == 1 and person.isTeacher == 0 %}
                <div class="contenedor-persona">
                    <span class="titulo-card"><h2>{{ person.firstName }} {{ person.lastName }}</h2></span>
                    <span class="p-rol"><p>Jugador</span>
                </div>
                {% else %}
                <div class="contenedor-persona">
                    <span class="titulo-card"><h2>{{ person.firstName }} {{ person.lastName }}</h2></span>
                    <span class="p-rol"><p>Profesor</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
    </div>
    <div class="contenedor-footer">
        <div class="volver">
            <a href="{{ path('people') }}" class="boton-volver"><i class="ti ti-arrow-left icono-agregar"></i> Volver</a>
        </div>
    </div>
{% endblock %}