{% set current_path = app.request.get('_route')|split('_') %}
<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
<nav class="barra-navegacion">
    <div class="contenedor-izquierda">
        <a class="titulo-navbar" href="{{path('main_app')}}">   
            <img src="{{ asset('img/logoappligaescolar.png') }}" alt="SLM" class="logo-navbar">School League Management
        </a>
    </div>
    <div class="contenedor-derecha" id="navbarNav">
        {% if app.user %}
            <div class="dropdown">
                <span class="dropdown-usuario"><i class="ti ti-user-filled"></i>{{ app.user.userName }}</span>
                <button class="dropdown-boton"><i id="dropdown-flecha" class="ti ti-chevron-down"></i></button>
                <div class="dropdown-contenido">
                    <div class="usuario-conectado">
                        <div class="conectado">
                            <a class="{{ current_path[0] == 'principal' ? 'active" aria-current="page' }}">
                                <i class="ti ti-user-filled"></i> Conectado como {{ app.user.userName }}
                            </a>
                        </div>
                        <div class="desconectar">
                            <a href="{{ path('logout') }}"><i class="ti ti-power"></i> Desconectar </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</nav>

<script src="{{ asset('javascript/dropdown.js') }}"></script>