{% extends 'base.html.twig' %}

{% block title %}{{ sport.name }} - {{ season.description }}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ absolute_url(asset('css/cardmain.css')) }}">
    <link rel="stylesheet" href="{{ absolute_url(asset('css/ranking.css')) }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
{% endblock %}

{% block body %}
    <div class="contenedor-entrada">
        <h2 class="titulo-ranking">{{ sport.name }} - {{ season.description }}</h2>
    </div>
    <div class="contenedor-principal-ranking">
        <table>
            <thead>
                <tr class="subrayado-oscuro">
                    <th colspan="2"></th>
                    <th>PTS</th>
                    <th>PJ</th>
                    <th>PG</th>
                    <th>PE</th>
                    <th>PP</th>
                    <th>GF</th>
                </tr>
            </thead>
            <tbody>
            {% for team in ranking %}
            <tr>
                <td class="{% if loop.first %}primer-equipo{% endif %}">{{ loop.index }}</td>
                <td class="texto-nombre">{{ team.name }}</td>
                <td class="bold subrayado">{{ team.totalPoints }}</td>
                <td>{{ team.gamesPlayed }}</td>
                <td class="subrayado">{{ team.gamesWon }}</td>
                <td>{{ team.gamesDrawn }}</td>
                <td class="subrayado">{{ team.gamesLost }}</td>
                <td>{{ team.totalScore }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
