{% extends 'base.html.twig' %}

{% block title %}Deportes inactivos{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/cardmain.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="{{ asset('javascript/desplegable.js') }}"></script>
    <script src="{{ asset('javascript/search.js') }}"></script>
    <script src="{{ asset('javascript/delete.js') }}"></script>
    {% for message in app.session.flashBag.get('success') %}
        <script src="{{ asset('javascript/created.js') }}"></script>
    {% endfor %}
    {% for message in app.session.flashBag.get('updated') %}
        <script src="{{ asset('javascript/created.js') }}"></script>
    {% endfor %}
{% endblock %}

{% block header %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="cabecera-crud">
        <div>
            <h2 class="h2-titulo">
                Deportes inactivos
            </h2>
        </div>
        <div class="contenedor-derecha">
            <div class="contenedor-search contenedor-usuario">
                <form id="search-form" method="get" action="{{ path('search_sport') }}">
                    <input type="hidden" name="inactive" value="true">
                    <input type="text" id="search" name="search" placeholder="Buscar deporte" autofocus="autofocus" value="{{ app.request.get('search') }}" class="input-buscar">
                    <button type="submit" id="btn-search" class="boton-buscar">
                        <i class="ti ti-search icono-buscar"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div id="listar">
        {% for sport in sports %}
            <div class="contenedor-principal">
                <div class="contenedor-expandir">
                    <div class="expandible">
                        <span class="titulo"><h6>{{ sport.name }}</h6></span>
                        <div class="iconos">
                            {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('sport_edit', {id: sport.id}) }}" class="boton"><i class="ti ti-edit a-botones"></i></a>
                            {% endif %}
                            <span class="desplegar"><i class="ti ti-chevron-down a-botones"></i></span>
                        </div>
                    </div>
                    <div class="contenedor-desplegable">
                        <div class="contenedor-informacion-desplegable">
                            <div class="informacion">
                                <h3>Nombre</h3>
                                <p>{{ sport.name }}</p>
                            </div>
                            <div class="informacion">
                                <h3>Duración de un partido</h3>
                                <p>{{ sport.duration }} minutos</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="contenedor-footer">
        <div class="volver">
            <a href="{{ path('sports') }}" class="boton-volver"><i class="ti ti-arrow-left icono-agregar"></i> Volver</a>
        </div>
    </div>
{% endblock %}
