{% extends 'base.html.twig' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <link rel="stylesheet" href="{{ asset('css/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cardmain.css') }}">
{% endblock %}

{% block header %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block body %}
    {% for message in app.flashes('error') %}
        <script>
            document.addEventListener('DOMContentLoaded', function (){
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: {{ message }},
                    confirmButtonText: 'Aceptar',
                    timer: 3000,
                    timerProgressBar: true
                }).then((result) => {
                    if (result.dismiss === Swal.DismissReason.timer || result.isConfirmed) {
                        window.location.href = '{{ path("sports") }}';
                    }
                });
            })
        </script>
    {% endfor %}
    <div class="contenedor">
        <div class="contenedor-cabecera">
            <div>
                <h2 class="titulo-form">
                    {{ titleForm }}
                </h2>
            </div>
        </div>
        <div class="contenedor-form">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="error">{{ form_errors(form) }}</div>
            <div>
                <div class="error">{{ form_errors(form.name) }}</div>
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div>
                <div class="error">{{ form_errors(form.duration) }}</div>
                {{ form_label(form.duration) }}
                {{ form_widget(form.duration) }}
            </div>
            <div class="checkbox-container">
                <div class="checkbox-item">
                    {{ form_label(form.active) }}
                    {{ form_widget(form.active) }}
                </div>
            </div>
        </div>
        <div>
            <div class="contenedor-footer-form">
                <button type="submit" class="btn-guardar-form">Guardar <i class="ti ti-device-floppy"></i></button>
                {{ form_end(form) }}
                <a href="{{ path('sports') }}" class="boton-volver-form"><i class="ti ti-arrow-left icono-agregar"></i> Volver</a>
            </div>
        </div>
    </div>
{% endblock %}
